.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
   transition: background-color 0.5s ease-in;
  height: 70px;
  border-radius: 40px;

}
.App-logo:hover{
  background-color:white;
  cursor: pointer;
}

.App-header {
  background-color: #222;
  height: 70px;
  margin: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
